.pytest_cache/
**/.pytest_cache/
**/**pycache**/
**/*.pyc

.env
backend/.env
mobile/.env
*.env.local
*.env.*.local

.git/
.devcontainer/
.vscode/
.idea/

node_modules/
**/node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.expo/
.expo-shared/
dist/
build/
coverage/
.nyc_output/

.DS_Store
Thumbs.db
